<ng-container *ngIf="tasks">

  <app-task-preview *ngFor="let task of tasks; let i = index"
                    [todoCollapseStatus]="i == 0"
                    [task]="task"
                    [loggedUser]="loggedUser"
                    (onDeletion)="onDeletion.emit($event)"
                    (onAddAssignment)="onAddAssignment.emit($event)"
                    (onRemoveAssignment)="onRemoveAssignment.emit($event)"
                    (onModify)="onModify.emit($event)">
  </app-task-preview>

  <!-- SCROLL ON TOP BTN -->
  <div class="row justify-content-center" *ngIf="tasks.length > 1">
    <div class="col-auto">
      <button class="btn icon btn-light" (click)="scrollTop()">
        <i class="bi bi-arrow-up-square"></i>
      </button>
    </div>
  </div>

</ng-container>
