<app-error-alert [title]="'operation-error'" [dismissable]="false" *ngIf="!!generationError"></app-error-alert>

<div class="row justify-content-end">
  <div class="col-auto">
    <button class="btn icon btn-light"
          type="button"
          (click)="loadGraph()">
          <i class="bi bi-arrow-clockwise"></i>
    </button>
  </div>
</div>

<ng-container *ngIf="validRepo === true && !generationError">
  <!-- DOM element in which we'll mount our graph -->
  <div id="graph-container"></div>

</ng-container>

<app-warning-alert [title]="'invalid-repo'" [dismissable]="false" *ngIf="validRepo === false"></app-warning-alert>

<app-loader *ngIf="validRepo === undefined"></app-loader>

