<li class="widget-todo-item" *ngIf="item">
  <div class="widget-todo-title-wrapper row justify-content-between align-items-center mb-50">
    <div class="col-xxl-9 widget-todo-title-area d-flex align-items-center gap-2">
      <div class="checkbox checkbox-shadow">
        <input
          type="checkbox"
          class="form-check-input"
          [id]="'checkbox-todo-' + item.id"
          [checked]="!!item.done"
          (click)="done()"
        />
        <label for="checkbox1"></label>
      </div>
      <span class="widget-todo-title ml-50"
            [class.done]="!!item.done">
        {{ item.description }}
      </span>
    </div>
    <div class="col-xxl-3 widget-todo-item-action row align-items-center">

      <!-- DEADLINE BADGE -->
      <div class="col-6">
        <app-deadline-badge [deadline]="item.deadline" style="margin-right: 1vw;" [done]="!!item.done" *ngIf="item.deadline">
        </app-deadline-badge>
      </div>

      <!-- AUTHOR AVATAR -->
      <div class="col-2">
        <app-text-avatar  *ngIf="item.author"
                        [color]="item.author.avatar_hex_color"
                        [text]="utilsService.getAvatarText(item.author)"
                        [tooltip]="item.author.username"
                        class="cursor-arrow">
      </app-text-avatar>
      </div>

      <div class="col-2">
        <button class="btn btn-sm icon btn-light mr-1" *ngIf="utilsService.canModify(item.author_id)">
          <i class="bi bi-pencil"></i>
        </button>
      </div>

      <div class="col-2">
        <button class="btn btn-sm icon btn-light"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#delete-todo-item-' + item.id"  *ngIf="utilsService.canDelete(item.author_id)">
        <i class="bi bi-trash"></i>
      </button>

      <!-- Delete Modal -->
      <app-dialog-modal [target]="'delete-todo-item-' + item.id"
                        title="delete-request"
                        [centered]="true"
                        [confirmBtn]="true"
                        [confirmBtnTxt]="'confirm'"
                        [borderless]="true"
                        (onConfirm)="delete()">
      </app-dialog-modal>
      </div>

    </div>
  </div>
</li>
