<li class="widget-todo-item" *ngIf="item">
  <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
    <div class="widget-todo-title-area d-flex align-items-center gap-2">
      <i data-feather="list" class="cursor-move"></i>
      <div class="checkbox checkbox-shadow">
        <input
          type="checkbox"
          class="form-check-input"
          [id]="'checkbox-todo-' + item.id"
          [checked]="!!item.done"
        />
        <label for="checkbox1"></label>
      </div>
      <span class="widget-todo-title ml-50">
        {{ item.description }}
      </span>
    </div>
    <div class="widget-todo-item-action d-flex align-items-center">

      <!-- DEADLINE BADGE -->
      <app-deadline-badge [deadline]="item.deadline" *ngIf="item.deadline"></app-deadline-badge>

      <app-text-avatar  *ngIf="item.author"
                        [color]="item.author.avatar_hex_color"
                        [text]="utilsService.getAvatarText(item.author)">
      </app-text-avatar>
    </div>
  </div>
</li>
