<div class="row justify-content-between">
  <div class="col-auto">
    <app-page-heading [title]="'dashboard'" #heading></app-page-heading>
  </div>

  <div class="col-auto">
    <button class="btn icon btn-light"
          data-bs-toggle="collapse"
          data-bs-target="#dashboard-operations"
          aria-expanded="false"
          aria-controls="dashboard-operations">
        <i class="bi bi-toggles2"></i>
    </button>
  </div>
</div>

<div class="collapse mb-5" id="dashboard-operations">
  <!-- <div class="divider">
    <div class="divider-text" style="background-color: transparent;">
      {{ "dashboard-operations" | translate }}
    </div>
  </div> -->

  <!-- FILTER -->
  <app-filter *ngIf="dashboard && dashboard?.tasks"
              [filterFields]="['name', 'description']"
              [(entities)]="dashboard.tasks">
  </app-filter>


  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="btn-group mb-1">
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle me-1"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">

            {{ "task-status" | translate }}
          </button>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" *ngFor="let status of dashboard?.task_status" (click)="taskStatusIdIndex = status.id">
              {{ status.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STICKY HEADER -->
<div class="card sticky-top" *ngIf="getCurrentTaskStatus()"
      [style.background-color]="getCurrentTaskStatus()?.hex_color"
      style="z-index: 1; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;"
>

  <div class="card-content">
    <div class="card-body">
        <div class="row justify-content-between align-items-center">
          <div class="col-sm-auto">
            <button class="btn btn-lg icon icon-left btn-outline-primary" *ngIf="getPrevTaskStatus()" (click)="taskStatusIdIndex = getPrevTaskStatus()?.id">
              <i class="bi bi-arrow-left"></i>
              {{ getPrevTaskStatus()?.name }}
            </button>
          </div>

          <div class="col-sm-8">

              <h3 class="text-center">
                {{ getCurrentTaskStatus()?.name }}  ({{ getAllTaskBasedOnStatusId(getCurrentTaskStatus()?.id)?.length }})
              </h3>
              <p class="text-center">
                {{ getCurrentTaskStatus()?.description }}
              </p>
          </div>

          <div class="col-sm-auto">
            <button class="btn btn-lg icon icon-right btn-outline-primary" *ngIf="getNextTaskStatus()" (click)="taskStatusIdIndex = getNextTaskStatus()?.id">
              {{ getNextTaskStatus()?.name }}
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="row justify-content-between mb-1">
  <div class="col-auto">
    <!-- ORDER BY -->
    <ng-container *ngIf="dashboard && !loadingError">
      <div class="btn-group dropdown me-1 mb-1">
        <button type="button" class="btn btn-light" (click)="orderReverse = !orderReverse">
          {{ "reverse" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-light dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-reference="parent"
        >
          <span class="sr-only">
            {{ "order-by" | translate }}
          </span>
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" (click)="orderBy = OrderBy.PRIORITY; orderReverse = true">
            {{ "priority" | translate }}
          </button>
          <button class="dropdown-item" (click)="orderBy = OrderBy.DEADLINE; orderReverse = false">
            {{ "deadline" | translate }}
          </button>
          <button class="dropdown-item" (click)="orderBy = OrderBy.CREATION; orderReverse = false">
            {{ "creation" | translate }}
          </button>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="col-auto">
    <button class="btn icon btn-light" (click)="loadDashboard()">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </div>
</div>

<ng-container *ngIf="dashboard && !loadingError">
  <div class="row justify-content-between">

    <!-- TASK LIST -->
    <div class="col-12">
      <app-task-preview-list  [tasks]="getAllTaskBasedOnStatusId(getCurrentTaskStatus()?.id)"
                              [taskStatus]="dashboard.task_status"
                              [onTop]="onTopTaskIdList"
                              (onDeletion)="removeTask($event)"
                              (onAddAssignment)="updateTask($event)"
                              (onRemoveAssignment)="updateTask($event)"
                              (onModify)="updateTask($event)">
      </app-task-preview-list>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!dashboard && !loadingError">
  <app-loader></app-loader>
</ng-container>

<ng-container *ngIf="loadingError">
  <app-error-alert [title]="'loading-error'"></app-error-alert>
</ng-container>


<!-- FAB ADD TASK BTN -->
<div class="fab-container pos-fixed">
  <div class="fab shadow">
    <div class="fab-content">
      <span class="material-icons cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#create-new-task">

            <i class="bi bi-plus"></i>
      </span>
    </div>
  </div>
  <!-- <div class="sub-button shadow">
    <a href="google.com" target="_blank">
      <span class="material-icons">phone</span>
    </a>
  </div>
  <div class="sub-button shadow">
    <a href="google.com" target="_blank">
      <span class="material-icons">mail_outline</span>
    </a>
  </div>
  <div class="sub-button shadow">
    <a href="google.com" target="_blank">
      <span class="material-icons">language</span>
    </a>
  </div>
  <div class="sub-button shadow">
    <a href="google.com" target="_blank">
      <span class="material-icons">help_outline</span>
    </a>
  </div> -->
</div>


<!-- CREATE NEW TASK MODAL -->
<div
  class="modal fade"
  id="create-new-task"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create-new-task-title"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="create-new-task-title"
        >
          {{ "add-task" | translate }}
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-feather="x"></i>
        </button>
      </div>
      <div class="modal-body">

        <section id="basic-vertical-layouts">
          <div class="row match-height">
            <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="form-body">
                      <form>

                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <div class="form-floating">
                                <textarea
                                  class="form-control"
                                  placeholder="Leave a name here"
                                  style="height: 15vh;"
                                  #nameOfTask
                                ></textarea>
                                <label for="floatingTextarea">
                                  {{ "name" | translate }}
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12">
                            <input
                              class="form-control"
                              type="number"
                              placeholder="{{ 'priority' | translate }}"

                              #priorityOfTask
                            />
                          </div>
                        </div>

                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light-secondary"
          data-bs-dismiss="modal"
        >
          <i class="bx bx-x d-block d-sm-none"></i>
          <span class="d-none d-sm-block">
            {{ "close" | translate }}
          </span>
        </button>
        <button
          type="button"
          class="btn btn-primary ml-1"
          data-bs-dismiss="modal"
          (click)="newTask(nameOfTask.value, +priorityOfTask.value); orderBy = OrderBy.CREATION; orderReverse = true"
        >
          <i class="bx bx-check d-block d-sm-none"></i>
          <span class="d-none d-sm-block">
            {{ "confirm" | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
