<ng-container *ngIf="!!form && !!editableFields && !!manager">
  <div class="card">
    <div class="card-header" *ngIf="title">
      <div class="row justify-content-between">
        <div class="col-auto">
          <h5 class="card-title">
            {{ title | translate }}
          </h5>
        </div>

        <div class="col-auto">
          <button class="btn icon btn-light" (click)="collapseStatus = !collapseStatus">
            <i class="bi bi-eye"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card-content" *ngIf="!collapseStatus">
      <div class="card-body">
        <form class="form form-horizontal" [formGroup]="form">
          <div class="form-body">

            <div class="row" *ngFor="let field of editableFields">

              <div class="col-md-4">
                <div class="row justify-content-between">
                  <div class="col-auto">
                    <label>
                      {{ (field.title ?? field.name) | translate }}
                    </label>
                  </div>
                  <div class="col-auto">
                      <i  class="bi bi-1-square-fill"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Unique"
                          *ngIf="field.unique === true">
                      </i>
                  </div>
                </div>
              </div>
              <div class="col-md-8 form-group">

                <ng-container *ngIf="field.type !== 'textarea' && field.type !== 'checkbox' && field.type !== 'selectbox'; else otherTypes">
                  <input
                    [type]="field.type"
                    class="form-control"
                    [name]="field.name"
                    [placeholder]="field.placeholder"
                    [formControlName]="field.name"
                    [class.is-valid]="form.controls[field.name].dirty && form.controls[field.name].valid"
                    [class.is-invalid]="form.controls[field.name].dirty && !form.controls[field.name].valid"

                    #input
                  />

                  <div class="form-check form-switch" *ngIf="field.type == 'password'">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      (change)="input.type == 'password' ? input.type = 'text' : input.type = 'password'"
                    />
                    <label
                      class="form-check-label"
                      >
                      {{ "show-password" | translate }}
                    </label>
                  </div>

                </ng-container>

                <ng-template #otherTypes>
                  <ng-container *ngIf="field.type == 'textarea'">
                    <div class="form-group mb-3">
                      <textarea
                        class="form-control"
                        rows="5"
                        [formControlName]="field.name"
                        [class.is-valid]="form.controls[field.name].dirty && form.controls[field.name].valid"
                        [class.is-invalid]="form.controls[field.name].dirty && !form.controls[field.name].valid"
                      ></textarea>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="field.type == 'checkbox'">
                    <div class="form-check">
                      <div class="checkbox">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          [name]="field.name"
                          [placeholder]="field.placeholder"
                          [formControlName]="field.name"
                        />
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="field.type == 'selectbox'">

                    <div class="input-group mb-3">
                      <label
                        class="input-group-text"
                        >
                        {{ (field.placeholder ?? field.name) | translate }}
                      </label>
                      <select class="form-select"
                              [formControlName]="field.name">
                        <option selected>
                          {{ "choose" | translate }}
                        </option>

                        <option [ngValue]="option.value" *ngFor="let option of field.selectOptions">
                          {{ option.text | translate }}
                        </option>
                      </select>
                    </div>
                  </ng-container>

                </ng-template>

              </div>

            </div>

            <div class="row justify-content-between">

              <div class="col-auto">
                <button type="button" class="btn icon btn-light"
                        data-bs-toggle="modal"
                        [attr.data-bs-target]="'#delete-request-' + entity.id"
                        *ngIf="entity">
                  <i class="bi bi-trash"></i>
                </button>
              </div>

              <div class="col-sm-auto d-flex justify-content-end">
                <button
                  type="button"
                  class="btn btn-light-secondary me-1 mb-1"
                  (click)="setFormDefaultValue()"
                >
                  {{ "reset" | translate }}
                </button>

                <button
                  type="button"
                  class="btn btn-primary me-1 mb-1"
                  (click)="submit()"
                  [disabled]="form.invalid"
                >
                  {{ "modify" | translate }}
                </button>

                <app-dialog-modal [target]="'delete-request-' + entity.id"
                    *ngIf="entity"
                    title="delete-request"
                    [centered]="true"
                    [confirmBtn]="true"
                    [confirmBtnTxt]="'confirm'"
                    [borderless]="true"
                    (onConfirm)="delete()">
                </app-dialog-modal>
              </div>
            </div>

            <ng-container *ngIf="submitResult !== undefined">

              <app-error-alert *ngIf="!submitResult" [title]="'operation-error'"></app-error-alert>

              <app-success-alert *ngIf="!!submitResult" [title]="'operation-successful'"></app-success-alert>
            </ng-container>

          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
