<div *ngIf="target"
  class="modal fade text-left"
  [id]="target"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="target"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header" *ngIf="title">
        <h5 class="modal-title" [id]="target">
          {{ title | translate }}
        </h5>
        <app-x-btn></app-x-btn>
      </div>
      <div class="modal-body">
        <p *ngIf="description">
          {{ description | translate }}
        </p>

        <!-- FORM -->
        <section id="basic-vertical-layouts">
          <div class="row match-height">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Vertical Form</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form class="form form-vertical">
                      <div class="form-body">
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="first-name-vertical"
                                >First Name</label
                              >
                              <input
                                type="text"
                                id="first-name-vertical"
                                class="form-control"
                                name="fname"
                                placeholder="First Name"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="email-id-vertical">Email</label>
                              <input
                                type="email"
                                id="email-id-vertical"
                                class="form-control"
                                name="email-id"
                                placeholder="Email"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="contact-info-vertical"
                                >Mobile</label
                              >
                              <input
                                type="number"
                                id="contact-info-vertical"
                                class="form-control"
                                name="contact"
                                placeholder="Mobile"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="password-vertical">Password</label>
                              <input
                                type="password"
                                id="password-vertical"
                                class="form-control"
                                name="contact"
                                placeholder="Password"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-check">
                              <div class="checkbox">
                                <input
                                  type="checkbox"
                                  id="checkbox3"
                                  class="form-check-input"
                                  checked
                                />
                                <label for="checkbox3">Remember Me</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 d-flex justify-content-end">
                            <button
                              type="submit"
                              class="btn btn-primary me-1 mb-1"
                            >
                              Submit
                            </button>
                            <button
                              type="reset"
                              class="btn btn-light-secondary me-1 mb-1"
                            >
                              Reset
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="modal-footer">
        <app-close-btn>
        </app-close-btn>

        <button
          type="button"
          class="d-none"
          data-bs-dismiss="modal"
          #closeBtn
        >
        </button>
      </div>
    </div>
  </div>
</div>
