<div *ngIf="user"
  class="modal fade text-left"
  [id]="target"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="target"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize" [id]="target">
          {{ user.username }}
        </h5>
        <app-x-btn></app-x-btn>
      </div>
      <div class="modal-body">
        <p>
          <div>
            <span class="text-capitalize">{{ user.name ? user.name + " " : "" }}</span>
            <span class="text-capitalize">{{ user.surname ? user.surname + " " : "" }}</span>
            {{ user.name || user.surname ? " aka " : "" }}
            <strong class="text-capitalize">
              {{ user.username }}
            </strong> ({{ user.email }})
          </div>

          <div class="mt-1" *ngIf="role">
            {{ "role" | translate }}: <strong>{{ role.name }}</strong>
          </div>

          <div *ngIf="assignmentDate" class="mt-5">
            {{ "assignment-date" | translate : { date: assignmentDate } }}
          </div>

      </div>
      <div class="modal-footer">
        <div class="row justify-content-between">
          <div class="col-auto">
            <app-close-btn>
            </app-close-btn>
          </div>

          <div class="col-auto">
            <button class="btn btn-outline-primary" (click)="onRemoveFromTask.emit()" data-bs-dismiss="modal" *ngIf="editable">
              {{ "remove-from-task" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




