<footer style="margin: 0 10vw 5vh 10vw;">
  <div class="footer clearfix mb-0 text-muted">
    <div class="float-start">
      <p>
        2023 &copy; <strong>{{ appName }}</strong>
        <span *ngIf="!!version">
          (v{{ version }})
        </span>
        developed by Nicola Ricciardi

      </p>
    </div>
    <div class="float-end">
      <button class="btn icon btn-light"
          type="button"
          (click)="utilsService.reload()">
          <i class="bi bi-arrow-clockwise"></i>
      </button>

    <!--<button class="btn icon btn-light"
            data-bs-toggle="modal"
            data-bs-target="#close-app-modal"
            type="button">
      <i class="bi bi-power"></i>
    </button>-->

    <app-dialog-modal [centered]="true"
                      [target]="'close-app-modal'"
                      [title]="'close-app-request'"
                      [confirmBtn]="true"
                      [confirmBtnTxt]="'confirm'"
                      [borderless]="true"
                      (onConfirm)="close()">
    </app-dialog-modal>
    </div>
  </div>
</footer>
