<div *ngIf="title"
  class="modal fade text-left"
  id="dialog"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-capitalize" id="dialog">
          {{ title | translate }}
        </h5>
        <app-x-btn></app-x-btn>
      </div>
      <div class="modal-body" *ngIf="body">
        <p>
          {{ body | translate }}
        </p>
      </div>
      <div class="modal-footer">
        <app-close-btn></app-close-btn>
      </div>
    </div>
  </div>
</div>
