<div *ngIf="title && target"
  class="modal fade text-left"
  [id]="target"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="target"
  aria-hidden="true"
  [class.modal-borderless]="borderless"
>
  <div
    class="modal-dialog modal-dialog-scrollable"
    role="document"
    [class.modal-dialog-centered]="centered"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ title | translate }}
        </h5>
        <app-x-btn></app-x-btn>
      </div>
      <div class="modal-body" *ngIf="body">
        <p>
          {{ body | translate }}
        </p>
      </div>
      <div class="modal-footer">
        <app-close-btn></app-close-btn>

        <button *ngIf="confirmBtn"
          type="button"
          class="btn btn-primary ml-1"
          data-bs-dismiss="modal"
          (click)="onConfirm.emit()"
        >
          <i class="bx bx-check d-block d-sm-none"></i>
          <span class="d-none d-sm-block">
            {{ confirmBtnTxt | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
