<div
  class="modal fade text-left"
  [id]="target"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="target"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="target">
          {{ "add-new-assignment" | translate }}
        </h5>
        <app-x-btn></app-x-btn>
      </div>
      <div class="modal-body">
        <p>
          {{ "add-new-assignment-description" | translate }}
        </p>
        <div class="d-flex justify-content-center"
              style="padding-bottom: 20vh;">

          <div class="btn-group dropdown me-1 mb-1">
            <button type="button" class="btn btn-outline-primary"
                    (click)="onAddAssignment.emit(userSelected); userSelected = undefined">
              {{ "add" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              data-reference="parent"
              (click)="setUsersCanBeAssign()"
            >

              <span class="sr-only" *ngIf="userSelected === undefined; else selected">
                {{ "select" | translate }}
              </span>
              <ng-template #selected>
                <span class="sr-only">
                  {{ userSelected?.username }}
                </span>
              </ng-template>

            </button>

            <div class="dropdown-menu">
              <button class="dropdown-item" *ngFor="let user of usersCanBeAssign" (click)="selectUser(user)">
                {{ user.username }}
              </button>
            </div>
          </div>
        </div>

        <ng-container *ngIf="noUsers">
          <div class="alert alert-light-warning">
            <p>
              {{ "no-users" | translate }}
            </p>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <app-close-btn>
        </app-close-btn>
      </div>
    </div>
  </div>
</div>
