<ng-container *ngIf="!!title && !!entities">
  <app-filter [filterFields]="filterFields" [entities]="entities"
              (entitiesChange)="entitiesFiltered = $event">
  </app-filter>


  <!-- NEW ENTITY -->
  <app-manage-entity
                    [editableFields]="editableFields.concat(additionalFieldOnCreation)"
                    [manager]="manager"
                    [title]="'create-new'"
                    [confirmBtnTxt]="'confirm'"
                    [collapseStatus]="true"
                    (refreshRequest)="loadEntities()">
  </app-manage-entity>


  <!-- MANAGE ENTITIES -->
  <ng-container *ngFor="let entity of entitiesFiltered">

    <app-manage-entity
                      [entity]="entity"
                      [editableFields]="editableFields"
                      [manager]="manager"
                      (refreshRequest)="loadEntities()">
    </app-manage-entity>
  </ng-container>


</ng-container>
