<div class="card" *ngIf="task">
  <div class="card-content">
    <div class="card-body">
      <h4 class="card-title">
        {{ task.name }}
      </h4>

      <p class="card-text mt-2" *ngIf="task.description">
        {{ task.description }}
      </p>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span>
      <span class="badge" [class.bg-light-primary]="getDeadlineStatus() === DeadlineStatus.PRIMARY"
                        [class.bg-light-warning]="getDeadlineStatus() === DeadlineStatus.WARNING"
                        [class.bg-light-danger]="getDeadlineStatus() === DeadlineStatus.DANGER"
                        *ngIf="!!task.deadline">

          {{ task.deadline | date:dateFormat }}
        </span>
    </span>

    <button class="btn btn-light-primary">Read More</button>
  </div>
</div>
