<div class="card" *ngIf="task"
[ngClass]="{
  'not-assigned-task': !userAssignedToTask(loggedUser?.id)
}"
>
  <div class="card-content">
    <div class="card-body">
      <h4 class="card-title">
        <div class="row justify-content-between">
          <div class="col-md-auto">
            <!-- TASK TITLE -->
            {{ task.name }}
          </div>

          <div class="col-md-auto">
            <!-- MODIFY BTN -->
            <div class="btn-group mb-1">
              <div class="dropdown icon-left">
                <button
                  class="btn icon btn-sm btn-light me-1"
                  type="button"
                  id="dropdownMenuButtonIconRight"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButtonIconRight"
                >
                  <!-- Modify -->
                  <button class="dropdown-item"
                          [disabled]="!canModify()">
                    <i class="bi bi-pencil me-50"></i>
                    {{ "modify" | translate }}
                  </button>

                  <!-- Delete -->
                  <button class="dropdown-item"
                          data-bs-toggle="modal"
                          [attr.data-bs-target]="'#delete-request-' + task.id"
                          [disabled]="!canDelete()">
                    <i class="bi bi-trash me-50"></i>
                    {{ "delete" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </h4>

      <!-- LABELs -->
      <div class="d-flex justify-content-start">
        <ng-container  *ngFor="let label of task.labels">
          <app-badge  [text]="label.name"
                      [color]="label.hex_color"
                      class="cursor-pointer"
                      data-bs-toggle="modal"
                      [attr.data-bs-target]="'#label-' + label.id + '-task-' + task.id + '-modal'">
        </app-badge>

        <app-manage-task-label-modal [target]="'label-' + label.id + '-task-' + task.id + '-modal'" [label]="label"
                                     (onRemoveFromTask)="removeLabelFromTask(label)">
        </app-manage-task-label-modal>
        </ng-container>

        <!-- Add new label -->
        <app-badge  [text]="'+'" class="cursor-pointer"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#add-label-task-' + task.id + '-modal'">
        </app-badge>

        <app-add-task-label-modal [target]="'add-label-task-' + task.id + '-modal'"
                                  [alreadyAssignedLabels]="task.labels ?? []"
                                  (onAdd)="addLabelFromTask($event)"
                                  (onClose)="this.onRemoveAssignment.emit({
                                    target: this.task.id,
                                    new: task
                                  });">
        </app-add-task-label-modal>
      </div>

      <p class="card-text mt-2" *ngIf="task.description">
        {{ task.description }}

        <ng-container>
          <div style="background-color: aqua;">
            id: {{ task.id }} - priority: {{ task.priority }}
          </div>

        </ng-container>
      </p>

      <app-task-todo-list></app-task-todo-list>

      <!-- AVATAR OF ASSIGNED USERS -->
      <ng-container *ngFor="let assignedUser of task.assigned_users">
        <app-text-avatar
                        [color]="assignedUser.user.avatar_hex_color"
                        [text]="getAvatarText(assignedUser.user)"
                        [tooltip]="assignedUser.user.username"
                        (click)="null"
                        data-bs-toggle="modal"
                        [attr.data-bs-target]="'#' + assignedUser.user.username + '-modal'"
                        class="cursor-pointer">
        </app-text-avatar>
        <app-manage-assigned-user-modal [user]="assignedUser.user"
                                        [target]="assignedUser.user.username + '-modal'"
                                        [assignmentDate]="assignedUser.assigned_at"
                                        (onRemoveFromTask)="removeUserFromTask(assignedUser.user.id)">
        </app-manage-assigned-user-modal>
      </ng-container>

      <ng-container *ngIf="!!loggedUser?.role?.permission_change_assignment">
        <app-icon-avatar color="5b6370"
                       iconClass="bi bi-plus"
                       tooltip="add-new-user"
                       (click)="null"
                       data-bs-toggle="modal"
                       [attr.data-bs-target]="'#new-assignment-modal'"
                       class="cursor-pointer">
        </app-icon-avatar>

        <app-new-assignment-modal
                                  [target]="'new-assignment-modal'"
                                  [alreadyAssignedUsers]="getAssignedUsers()"
                                  (onAddAssignment)="addAssignment($event)"
                                  (onClose)="this.onAddAssignment.emit({
                                    target: task.id,
                                    new: task
                                  });">
        </app-new-assignment-modal>
      </ng-container>

      <!-- AVATAR OF ASSIGNED USERS END -->
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span>
      <span class="badge" [class.bg-light-primary]="getDeadlineStatus() === DeadlineStatus.PRIMARY"
                        [class.bg-light-warning]="getDeadlineStatus() === DeadlineStatus.WARNING"
                        [class.bg-light-danger]="getDeadlineStatus() === DeadlineStatus.DANGER"
                        *ngIf="!!task.deadline">

          {{ task.deadline | date:dateFormat }}
        </span>
    </span>

    <button class="btn btn-light-primary">Read More</button>
  </div>



  <!-- MODALs -->
  <app-dialog-modal [target]="'delete-request-' + task.id" title="delete-request"
                    [centered]="true"
                    [confirmBtn]="true"
                    [confirmBtnTxt]="'confirm'"
                    [borderless]="true"
                    (onConfirm)="delete()">
  </app-dialog-modal>

</div>
