<div class="card">
  <div class="card-content">
    <div class="card-body">
      <h4 class="card-title">Card With Header And Footer</h4>
      <p class="card-text">
        Gummies bonbon apple pie fruitcake icing biscuit apple
        pie jelly-o sweet roll. Toffee sugar plum sugar plum
        jelly-o jujubes bonbon dessert carrot cake.
      </p>
    </div>
    <img
      class="img-fluid w-100"
      src="./assets/compiled/jpg/banana.jpg"
      alt="Card image cap"
    />
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span>Card Footer</span>
    <button class="btn btn-light-primary">Read More</button>
  </div>
</div>
