<div class="row justify-content-center" *ngIf="loggedUser">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          {{ "my-profile" | translate }}
        </h4>
        <p>
          {{ "logout-after-update" | translate }}
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div
              class="nav flex-column nav-pills"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="nav-link active"
                id="v-pills-master-data-tab"
                data-bs-toggle="pill"
                href="#v-pills-master-data"
                role="tab"
                aria-controls="v-pills-master-data"
                aria-selected="true"
                >
                {{ "master-data" | translate }}
                </a>
              <a
                class="nav-link"
                id="v-pills-avatar-tab"
                data-bs-toggle="pill"
                href="#v-pills-avatar"
                role="tab"
                aria-controls="v-pills-avatar"
                aria-selected="false"
                >
                {{ "avatar" | translate }}
              </a>

              <a
                class="nav-link"
                id="v-pills-password-tab"
                data-bs-toggle="pill"
                href="#v-pills-password"
                role="tab"
                aria-controls="v-pills-password"
                aria-selected="false"
                >
                {{ "password" | translate }}
                </a>

            </div>
          </div>
          <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="v-pills-master-data"
                role="tabpanel"
                aria-labelledby="v-pills-master-data-tab"
              >

                <section id="basic-horizontal-layouts">
                  <div class="row match-height">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">
                            {{ "master-data" | translate }}
                          </h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <form class="form form-horizontal" [formGroup]="blueprintMasterDataUserForm">
                              <div class="form-body">
                                <div class="row">

                                  <div class="col-md-4">
                                    <label>
                                      {{ "username" | translate }}
                                    </label>
                                  </div>
                                  <div class="col-md-8 form-group">
                                    <input
                                      type="text"
                                      id="username"
                                      class="form-control"
                                      name="username"
                                      placeholder="Username"
                                      formControlName="username"
                                      [class.is-valid]="blueprintMasterDataUserForm.controls['username'].dirty && !blueprintMasterDataUserForm.controls['username'].errors"
                                      [class.is-invalid]="blueprintMasterDataUserForm.controls['username'].dirty && blueprintMasterDataUserForm.controls['username'].errors"
                                    />
                                  </div>

                                  <div class="col-md-4">
                                    <label>
                                      {{ "email" | translate }}
                                    </label>
                                  </div>
                                  <div class="col-md-8 form-group">
                                    <input
                                      type="email"
                                      id="email"
                                      class="form-control"
                                      name="email"
                                      placeholder="Email"
                                      formControlName="email"
                                      [class.is-valid]="blueprintMasterDataUserForm.controls['email'].dirty && !blueprintMasterDataUserForm.controls['email'].errors"
                                      [class.is-invalid]="blueprintMasterDataUserForm.controls['email'].dirty && blueprintMasterDataUserForm.controls['email'].errors"
                                    />
                                  </div>

                                  <div class="col-md-4">
                                    <label>
                                      {{ "name" | translate }}
                                    </label>
                                  </div>
                                  <div class="col-md-8 form-group">
                                    <input
                                      type="text"
                                      id="name"
                                      class="form-control"
                                      name="name"
                                      placeholder="Name"
                                      formControlName="name"
                                    />
                                  </div>

                                  <div class="col-md-4">
                                    <label>
                                      {{ "surname" | translate }}
                                    </label>
                                  </div>
                                  <div class="col-md-8 form-group">
                                    <input
                                      type="text"
                                      id="surname"
                                      class="form-control"
                                      name="surname"
                                      placeholder="Surname"
                                      formControlName="surname"
                                    />
                                  </div>

                                  <div class="col-md-4">
                                    <label>
                                      {{ "phone" | translate }}
                                    </label>
                                  </div>
                                  <div class="col-md-8 form-group">
                                    <input
                                      type="text"
                                      id="phone"
                                      class="form-control"
                                      name="phone"
                                      placeholder="Phone"
                                      formControlName="phone"
                                    />
                                  </div>


                                  <div class="col-sm-12 d-flex justify-content-end">
                                    <button
                                      type="button"
                                      class="btn btn-primary me-1 mb-1"
                                      [disabled]="blueprintMasterDataUserForm.invalid"
                                      (click)="submitMasterData()"
                                    >
                                      {{ "confirm" | translate }}
                                    </button>
                                    <button
                                      type="button"
                                      class="btn btn-light-secondary me-1 mb-1"
                                      (click)="loadDefaultValues(blueprintMasterDataUserForm)"
                                    >
                                      {{ "reset" | translate }}
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              </div>

              <div
                class="tab-pane fade"
                id="v-pills-avatar"
                role="tabpanel"
                aria-labelledby="v-pills-avatar-tab"
              >

                <div class="row justify-content-center">
                  <div class="col-auto">
                    <div class="form-group">
                      <label for="color-picker">
                        {{ "pick-color-for-avatar" | translate }}
                      </label>
                      <input
                        type="color"
                        class="form-control"
                        id="color-picker"
                        #colorPicker
                        [value]="'#' + loggedUser.avatar_hex_color"
                        (input)="colorPicked = colorPicker.value.substring(1)"
                      />
                    </div>

                  </div>

                  <div class="col-auto">
                    <app-text-avatar  [color]="colorPicked ? colorPicked : loggedUser.avatar_hex_color"
                                      [text]="utilsService.getAvatarText(loggedUser)"
                                      >
                    </app-text-avatar>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-auto">
                    <button class="btn btn-outline-secondary" (click)="colorPicker.value = '#' + colorPicked = loggedUser.avatar_hex_color">
                      {{ "reset" | translate }}
                    </button>
                  </div>

                  <div class="col-auto">
                    <button class="btn btn-outline-primary" (click)="modify({
                      avatar_hex_color: colorPicked
                    }, true)">
                      {{ "update" | translate }}
                    </button>
                  </div>
                </div>

              </div>

              <div
                class="tab-pane fade"
                id="v-pills-password"
                role="tabpanel"
                aria-labelledby="v-pills-password-tab"
              >

              <section id="basic-horizontal-layouts">
                <div class="row match-height">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">
                          {{ "password" | translate }}
                        </h4>
                        <p>
                          {{ "password-requirements" | translate }}
                        </p>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <form class="form form-horizontal" [formGroup]="blueprintPasswordUserForm">
                            <div class="form-body">
                              <div class="row">

                                <div class="col-md-4">
                                  <label>
                                    {{ "password" | translate }}
                                  </label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <input
                                    type="password"
                                    id="password"
                                    class="form-control"
                                    name="password"
                                    placeholder="Password"
                                    formControlName="password"
                                    [class.is-valid]="blueprintPasswordUserForm.controls['password'].dirty && !blueprintPasswordUserForm.controls['password'].errors"
                                    [class.is-invalid]="blueprintPasswordUserForm.controls['password'].dirty && blueprintPasswordUserForm.controls['password'].errors"
                                  />
                                </div>

                                <div class="col-md-4">
                                  <label>
                                    {{ "repassword" | translate }}
                                  </label>
                                </div>
                                <div class="col-md-8 form-group">
                                  <input
                                    type="password"
                                    id="repassword"
                                    class="form-control"
                                    name="repassword"
                                    placeholder="Re-password"
                                    formControlName="repassword"
                                    [class.is-valid]="blueprintPasswordUserForm.controls['repassword'].dirty && !blueprintPasswordUserForm.controls['repassword'].errors"
                                    [class.is-invalid]="blueprintPasswordUserForm.controls['repassword'].dirty && blueprintPasswordUserForm.controls['repassword'].errors"
                                  />
                                </div>

                                <div class="col-sm-12 d-flex justify-content-end">
                                  <button
                                    type="button"
                                    class="btn btn-primary me-1 mb-1"
                                    [disabled]="blueprintPasswordUserForm.invalid"
                                    (click)="submitPasswordData()"
                                  >
                                    {{ "submit" | translate }}
                                  </button>
                                  <button
                                    type="reset"
                                    class="btn btn-light-secondary me-1 mb-1"
                                  >
                                    {{ "reset" | translate }}
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
