<div
  class="modal fade text-left"
  [id]="target"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="target"
  aria-hidden="true"
  *ngIf="target"
  (keydown.enter)="submitBtn.click()"
>
  <div
    class="modal-dialog modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="target">
          {{ "add-new-todo" | translate }}
        </h5>
        <app-x-btn></app-x-btn>
      </div>
      <div class="modal-body">
        <form [formGroup]="newItemForm">

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label
                  for="description"
                  class="form-label">
                  {{ "description" | translate }}
                </label>
                <textarea
                  class="form-control"
                  placeholder="{{ 'description' | translate }}"
                  aria-label="Description"
                  aria-describedby="description-icon"
                  formControlName="description"
                  id="description"
                  rows="6"
                  >
                </textarea>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>
                  {{ "deadline" | translate }}
                </label>
                <input
                  type="datetime-local"
                  class="form-control flatpickr-time-picker-24h mt-2"
                  placeholder="{{ 'deadline' | translate }}"
                  formControlName="deadline"
                />
              </div>

            </div>

            <div class="col-12">
              <div class="form-group">
                <label>
                  {{ "priority" | translate }}
                </label>
                <input
                  type="number"
                  id="priority"
                  class="form-control"
                  placeholder="{{ 'priority' | translate }}"
                  formControlName="priority"
                />
              </div>
            </div>

          </div>


        </form>

      </div>
      <div class="modal-footer">
        <app-close-btn>
        </app-close-btn>

        <button
          type="button"
          class="btn btn-primary ml-1"
          data-bs-dismiss="modal"
          (click)="_onSubmit()"
          [disabled]="newItemForm.invalid"

          #submitBtn
        >
          <i class="bx bx-check d-block d-sm-none"></i>
          <span class="d-none d-sm-block">
            {{ "confirm" | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
