<!-- DOM element in which we'll mount our graph -->
<div id="graph-container"></div>

<!-- Use the `GitgraphJS` global variable to create your graph -->
<script>
  setTimeout(() => {
    // Get the graph container HTML element.
  const graphContainer = document.getElementById("graph-container");

// Instantiate the graph.
const gitgraph = GitgraphJS.createGitgraph(graphContainer);

// Simulate git commands with Gitgraph API.
const master = gitgraph.branch("master");
master.commit("Initial commit");

const develop = master.branch("develop");
develop.commit("Add TypeScript");

const aFeature = develop.branch("a-feature");
aFeature
  .commit("Make it work")
  .commit("Make it right")
  .commit("Make it fast");

develop.merge(aFeature);
develop.commit("Prepare v1");

master.merge(develop).tag("v1.0.0");
  }, 2000)
</script>

<div class="modal-info me-1 mb-1 d-inline-block">
  <!-- Button trigger for info theme modal -->
  <button
    type="button"
    class="btn btn-outline-info"
    data-bs-toggle="modal"
    data-bs-target="#info"
  >
    Info
  </button>

  <!--info theme Modal -->
  <div
    class="modal fade text-left"
    id="info"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel130"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h5
            class="modal-title white"
            id="myModalLabel130"
          >
            Info Modal
          </h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i data-feather="x"></i>
          </button>
        </div>
        <div class="modal-body">
          Tart lemon drops macaroon oat cake chocolate
          toffee chocolate bar icing. Pudding jelly
          beans carrot cake pastry gummies cheesecake
          lollipop. I love cookie lollipop cake I love
          sweet gummi bears cupcake dessert.
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block"
              >Close</span
            >
          </button>
          <button
            type="button"
            class="btn btn-info ml-1"
            data-bs-dismiss="modal"
          >
            <i
              class="bx bx-check d-block d-sm-none"
            ></i>
            <span class="d-none d-sm-block"
              >Accept</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

