<div
  class="modal fade text-left"
  [id]="target"
  tabindex="-1"
  role="dialog"
  [attr.aria-labelledby]="target"
  aria-hidden="true"
  *ngIf="target"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="target">
          {{ "commit-info" | translate }}
        </h5>
        <app-x-btn></app-x-btn>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <ng-container *ngIf="hash">
              <strong>{{ "hash" | translate }}</strong>: {{ hash }}
            </ng-container>

          </div>
          <div class="col-12">
            <ng-container *ngIf="message">
              <strong>{{ "message" | translate }}</strong>: "{{ message }}"
            </ng-container>
          </div>

          <div class="col-12">
            <div class="divider">
              <div class="divider-text">
                {{ "author" | translate }}
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="d-flex justify-content-center">
              <ng-container *ngIf="!!commiterEmail || !!commiterName; else noCommiter">
                {{ commiterName + " - " }} {{ commiterEmail }}
              </ng-container>
            </div>

            <ng-template #noCommiter>
              <app-warning-alert [title]="'no-commiter'" [dismissable]="false"></app-warning-alert>
            </ng-template>
          </div>

          <div class="col-12">
            <div class="divider">
              <div class="divider-text">
                {{ "tasks" | translate }}
              </div>
            </div>
          </div>

          <div class="col-12">
            <ul *ngIf="!!tasksAssociated && tasksAssociated.length > 0; else noTasks">
              <li *ngFor="let task of tasksAssociated">
                <a data-bs-dismiss="modal" (click)="navigateToTask(task.id)" href="javascript:void(0)">
                  <strong>
                    {{ task.name }}
                  </strong>
                </a>

                <span *ngIf="!!task.task_status">
                  ({{ task.task_status.name }})
                </span>

                <span class="badge bg-light-secondary" *ngIf="!!task.git_branch">
                  {{ task.git_branch }}
                </span>

              </li>
            </ul>
            <ng-template #noTasks>
              <app-warning-alert [title]="'no-task'" [dismissable]="false"></app-warning-alert>
            </ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
