<span class="badge" [class.bg-light-primary]="getDeadlineStatus() === DeadlineStatus.PRIMARY"
                    [class.bg-light-warning]="getDeadlineStatus() === DeadlineStatus.WARNING"
                    [class.bg-light-danger]="getDeadlineStatus() === DeadlineStatus.DANGER"
                    [class.bg-light-success]="getDeadlineStatus() === DeadlineStatus.DONE"
                    *ngIf="!!deadline"
                    [class.done]="!!done"
                    [class.cursor-pointer]="editable"
                    [attr.data-bs-toggle]="editable ? 'modal' : ''"
                    [attr.data-bs-target]="editable ? '#manage-deadline' + id + '-modal' : ''"
                    >

  {{ deadline | date:dateFormat }}
</span>

<app-manage-deadline  [value]="deadline"
                      [target]="'manage-deadline' + id + '-modal'"
                      (onSubmit)="onDeadlineModified.emit($event)">
</app-manage-deadline>
